section{
    column-count:2;
    /* column-gap:-20%; */
    padding:10px;
}
body{
    background-color:white;
    color:black;
}
#iaf{
    margin-left:50%;
}
#branch {
    text-decoration: none;
    list-style: none;
/* padding:20px ; */
/* float: left; */
}
p{
    font-size:larger;
}
#paragraph{
margin-left: -150px;
}
#navy{
    background-image: linear-gradient(to right,orange ,white,green);
}
h1{
    color:blue;
}
h2{
    color:red;
}
nav{
    margin-bottom: 2em;
    margin-top: -0.5em;
}
#nav_menu_1 ul
{
    list-style: none;
    position: relative;
}
#nav_menu_1 ul li
{
float:left;
width:325px;
background-color:black;
 color:white;
}
#nav_menu_1 ul ul{
    display: none;
    position:absolute;
    top:100%
}
#nav_menu_1 ul ul li{
    float:none;
}
#nav_menu_1 ul li:hover>ul{
    display:contents;
    position:relative;
}
#nav_menu_1>ul::after
{
  content:"";
  display:block;
  clear:both;
}
#nav_menu_1 ul li a
{
    text-decoration: none; 
    padding:1em;
    font-weight: bold; 
    display:flex;
    color:white;
}
#nav_menu_1 ul li a:hover{
    color:crimson;
}
#nav_menu_1 ul li a ul :hover{
    color:crimson
}
aside{
    color:black;
    background-color:white;
    float: right;
    border: 2px solid black;
}
aside ol li a{
color:red;
list-style: none;
text-decoration: none;
}
.social_icon {
    width:100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    }
    .social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    
    }
    .social_icon li{
    float: left;
    padding-right: 5px;
    list-style: none;
    }
    .copyright_section {
    width: 100%;
    float: left;
    height: auto;
    background-image: linear-gradient(to right,orange,white,green);
    }
    .copyright_text {
    width: 100%;
    float: left;
    color:black;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    text-transform: uppercase;
    }
    footer{
    margin-top:5%; 
    padding-top:10px;
    padding-bottom:10px;
    }
    